<link href="@Url.Content("~/Content/ProcessGroups.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Process Groups";
}
<div id="knowledge-area">
</div>
<div id="main-scroller">
</div>
<div class="clear"></div>
<div id="process-action">
</div>
<div id="process-deliverable">
</div>
<div class="clear"></div>