#top-area
{
    height: 280px;
}

#knowledge-area 
{
    float: left;
    border: 1px solid black;
    width: 196px;
    height: inherit;
}

#knowledge-area #knowledge-list
{
    line-height: 1.97em;  
    overflow: auto;  
    cursor: pointer;
    height: 256px;
}

#main-scroller
{
    float: right;
    border: 1px solid black;
    width: 700px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}

#process
{
    border: 1px solid black;
    height: 311px;
    width: 898px;   
}

#process-action
{
    float: left;
    border-right: 1px solid #000;
    /*border: 1px solid black;*/
    width: 448px;
    height: inherit;
}

#process-deliverable
{
    float: left;
    border-left: 1px solid #000;
    /*border: 1px solid black;*/
    width: 448px;
    height: inherit;
}

.process-header-left
{
    background-color: inherit;
    width: 223px;
    float: left;
    padding-bottom: inherit;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000
}

.process-header-right
{
    background-color: inherit;
    width: 223px;
    float: right;
    padding-bottom: inherit;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000
}

.menu-header
{
    padding-bottom: 2px;
    font-size: 1.2em;
    width: 100%;
    color: #000;
    text-indent: 10px;
    background-color: #AAA;
}

#process-action li
{
    margin-left: -20px;
    list-style: none;
    line-height: 2em;
    font-weight: 700;
}

#process-action li ol
{
    margin-top: -22px;
    font-weight: normal;
}

#process-action li ol li
{
    list-style-type: decimal; 
    margin-left: 50%;
    font-weight: inherit;
}

#process-deliverable li
{
    margin-left: -20px;
    list-style: none;
    line-height: 2em;
    font-weight: 700;
}

#process-deliverable li ol
{
    margin-top: -22px;
    font-weight: normal;
}

#process-deliverable li ol li
{
    list-style-type: decimal; 
    margin-left: 50%;
    font-weight: inherit;
}

.process-content
{
    height: 286px;
    overflow: auto; 
    float: inherit;
    width: inherit;   
}

ol
{
    padding: 0px; 
    margin: 0px 0px 0px 25px;   
}